.container_main {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0a1939;
  }
  .container_main main {
    /* position: absolute;
    top: 80px; */
    /* margin-top: 80px; */
    width: 75%;
  }
  .section_heading {
    display: flex;
    align-items: center;
    margin: 16px 0 48px;
  }
  .color_green {
    color: #1ed760;
    margin: 0;
  }
  .section_heading div:first-child {
    font-size: 32px;
    font-weight: 700;
    color: #ccd6f6;
    position: relative;
    text-wrap: nowrap;
  }
  .section_heading div:last-child,
  .section_heading .__line {
    width: 100%;
    height: 1px;
    background-color: #464c5f96;
    margin-left: 2rem;
    border: none;
    outline: none;
  }
  
  /* Myself */
  #myself {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    padding-top: calc(48px + 80px);
  }
  #myself .my_name_is {
    color: #1ed760;
  }
  #myself .name h2,
  #myself .intro h2 {
    /* line-height: 56px; */
    font-weight: 700;
    font-size: 3.3rem;
    padding: 0;
    margin: 0;
  }
  #myself .name h2 {
    color: #ccd6f6;
  }
  #myself .intro_description p {
    width: 80%;
  }
  #myself .lets_chat {
    font-family: var(--font-sans);
  }
  #myself .lets_chat button {
    letter-spacing: 1px;
  }
  .myself_page_resume {
    display: none;
  }
  
  /* About */
  #about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    padding-top: calc(32px + 80px);
    font-family: var(--font-sans);
  }
  .technical_skills {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 110px));
    grid-template-rows: repeat(auto-fit, minmax(30px, 40px));
  }
  .technical_skills .tech_skill_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .technical_skills .tech_skill_item .pointer {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #1ed760;
    margin-right: 8px;
  }
  .technical_skills span {
    text-wrap: nowrap;
    transition: all ease 0.3s;
  }
  .technical_skills span:hover {
    color: #1ed760;
  }
  .about_flex_div {
    display: grid;
    /* grid-template-columns: 3fr 2fr; */
    grid-template-columns: 60% 40%;
    gap: 24px;
  }
  .passport_img_cont_outer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .passport_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 0;
    padding-top: 16px;
    position: relative;
    width: 220px;
    height: 220px;
  }
  .passport_img_container .img_box {
    position: relative;
    /* width: 260px;
    height: 260px; */
    width: 92%;
    height: 92%;
    border: 2px solid #1db954;
    border-radius: 4px;
    transition: all ease 0.2s;
  }
  .passport_img_container .img_box:hover {
    /* width: 264px;
    height: 264px; */
    cursor: pointer;
    width: 95%;
    height: 95%;
  }
  .img_box img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
    position: absolute;
    position: absolute;
    bottom: 12px;
    right: 12px;
    transition: all ease 0.2s;
  }
  .img_box:hover img {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  
  /* Experience */
  #experience {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 48px 130px;
    padding-top: calc(32px + 80px);
    font-family: var(--font-sans);
  }
  .experience_flex_div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .experience_flex_div .left {
    margin-right: 48px;
  }
  .experience_flex_div .left ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .experience_flex_div .left ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    border-left: 2px solid #464c5f96;
    cursor: pointer;
  }
  .experience_flex_div .left ul li.active {
    color: #1ed760;
    border-left: 3px solid #1db954;
  }
  .experience_flex_div .left ul li:hover {
    background: #1db9450f;
    color: #1ed760;
  }
  .experience_flex_div .right h5 {
    color: #ccd6f6;
  }
  .experience_flex_div .right h5 span {
    color: #1ed760;
  }
  .company_exp_points {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
  }
  .company_exp_points li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .company_exp_points li .point_tag {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #1db954;
    display: inline-block;
    margin-right: 18px;
    margin-top: 8px;
  }
  
  /* Contact */
  #contact {
    display: flex;
    flex-direction: column;
    padding: 48px 130px;
    padding-top: calc(32px + 80px);
    font-family: var(--font-sans);
    min-height: 100vh;
  }
  .contact_section_heading {
    font-size: 18px;
    color: #1ed760;
  }
  .get_in_touch {
    font-size: 54px;
    font-weight: 800;
    color: #ccd6f6;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .send_message_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }
  .send_message_container input,
  .send_message_container textarea {
    border: 1px solid #1db954;
    outline: none;
    padding: 16px 24px;
    background-color: #0a1939;
    margin: 12px;
    color: #1db954;
    border-radius: 8px;
    width: 100% !important;
  }
  .send_message_container input[name="name"] {
    height: 70px;
  }
  .send_message_container input[name="email"] {
    height: 70px;
  }
  .send_message_container textarea[name="message"] {
    height: 140px;
    resize: none;
  }
  .submit_contact {
    width: 100%;
  }
  .error_msg {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 500;
    color: red;
    text-align: left;
    width: 70%;
  }
  
  /* Opening */
  .opening {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0a1939;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .opening_logo_container .opening_logo {
    font-size: 48px;
    cursor: pointer;
    /* border: 2px solid #1ed760; */
    padding: 10px 30px;
    position: relative;
  }
  
  .contact_buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  .contact_buttons {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background: rgb(0 0 0 / 22%) !important;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.4s ease;
  }
  .contact_buttons:hover {
    border: 1px solid #1db954;
    background-color: #0a1939 !important;
  }
  .contact_buttons p {
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 2px;
    color: #ccd6f6;
  }
  .contact_buttons p:nth-child(1) {
    font-size: 1.6rem;
    color: #1db954;
  }
  .contact_buttons a {
    font-size: 1.4rem !important;
    font-weight: 800 !important;
    letter-spacing: 1px !important;
    color: #ccd6f6 !important;
    text-decoration: none;
  }
  .contact_buttons p:nth-child(3) {
    font-size: 0.8rem;
    font-weight: 500;
    color: #1db954;
  }
  
  .opening_logo_container .opening_logo .logo_material span:first-child,
  .opening_logo_container .opening_logo .logo_material span:last-child {
    color: #1ed760;
  }
  .opening_logo_container .opening_logo:hover .logo_material span:first-child,
  .opening_logo_container .opening_logo:hover .logo_material span:last-child {
    color: #8892b0;
  }
  .opening_logo_container .opening_logo:hover .logo_material span:nth-child(2) {
    color: #1db954;
  }
  .opening_logo .border_style_item_top {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    background-color: #1ed760;
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .opening_logo .border_style_item_right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #0a1939;
    animation-name: topToBottom;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .opening_logo .border_style_item_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #0a1939;
    animation-name: rightToLeft;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .opening_logo .border_style_item_left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 4px;
    background-color: #0a1939;
    animation-name: bottomToTop;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes leftToRight {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
      background-color: #1ce161;
    }
  }
  @keyframes topToBottom {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
      background-color: #1ce161;
    }
  }
  @keyframes rightToLeft {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
      background-color: #1ce161;
    }
  }
  @keyframes bottomToTop {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
      background-color: #1ce161;
    }
  }
  
  /* Projects */
  #projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 50px;
    font-family: var(--font-sans);
  }
  .experience_flex_div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .projects_section_heading {
    font-size: 24px;
    font-weight: 700;
    color: #ccd6f6;
    position: relative;
    text-wrap: nowrap;
  }
  .projects_flex_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    gap: 150px;
  }
  
  /* Project Item */
  .project_item_container_outer {
    width: 100%;
    padding: 32px;
    border-radius: 12px;
    transition: all ease 0.4s;
  }
  .project_item_container_outer:hover {
    background: #10244dd9;
  }
  /* .project_item_container_outer .skills_items span {
    padding: 6px 18px;
    background: #1aba552e;
    color: #1aba55;
    border-radius: 20px;
    font-size: 13px;
    margin-right: 16px;
    user-select: none;
  } */
  .project_item_container {
    width: 100%;
    position: relative;
    height: 300px;
    color: #ccd6f6;
  }
  .project_item_container .left_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
  }
  .project_item_container .right_item {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
  }
  .project_item_container .left_item .img_container_link,
  .project_item_container .right_item .img_container_link {
    position: relative;
    /* aspect-ratio: 3/2;
    height: 120px; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .project_item_container .left_item a img,
  .project_item_container .right_item a img {
    position: relative;
    /* aspect-ratio: 3/2;
    height: 120px; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    color: #1ce161;
  }
  .project_tech_used {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .project_tech_used b {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  .project_tech_used b:hover {
    color: #1db954;
  }
  .featured_text {
    font-size: 15px;
    color: #1db954;
    margin: 0;
  }
  .project_name {
    font-size: 26px;
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .project_name:hover {
    color: #1db954;
  }
  .project_description {
    padding: 14px;
    background-color: #112240ff;
    border-radius: 12px;
    margin: 22px 0;
  }
  .project_description p {
    padding: 0;
    margin: 0;
  }
  .project_links {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 14px;
  }
  .project_links a {
    color: inherit;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  .project_links a:hover {
    color: #1db954;
  }
  
  /*********** Testimonials CSS Starts *********************/
  #testimonials {
    display: flex;
    flex-direction: column;
    padding: 84px 60px 32px;
    font-family: var(--font-sans);
    min-height: 100vh;
  }
  .testimonials_body {
    position: relative;
    height: calc(100vh - 80px - 84px - 64px) !important;
  }
  .testimonials_body .carousel {
    height: 100%;
  }
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  /*********** Testimonials CSS Ends *********************/
  
  @media only screen and (width <= 1200px) {
    #projects {
      padding: 100px 70px 50px !important;
    }
  }
  
  @media only screen and (width <= 1000px) {
    #projects,
    #experience {
      padding: 100px 20px 50px !important;
    }
    #contact,
    .skills {
      padding: 100px 30px 50px;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .project_item_container {
      /* border-radius: 12px !important; */
    }
    .project_item_container .left_item {
      width: 100% !important;
      /* border-radius: 12px !important; */
    }
    .project_item_container .right_item {
      width: 100% !important;
      /* border-radius: 12px !important; */
    }
    .project_description {
      background-color: inherit;
    }
    .img_container_link img {
      border-radius: 14px !important;
    }
    .project_details {
      padding: 16px !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
      border-radius: 12px !important;
      background-color: rgb(17, 34, 64, 0.95);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
    .project_details .featured_text,
    .project_details .project_name,
    .project_details .project_description p {
      text-align: left !important;
    }
    .project_details .project_description {
      text-align: left !important;
      padding: 0 !important;
      background-color: rgb(0, 0, 0, 0);
    }
    .project_details .project_links {
      justify-content: left !important;
    }
  }
  @media only screen and (max-width: 767px) {
  }
  @media only screen and (max-width: 767px) {
    /* myself */
    #myself {
      /* padding-top: 48px; */
    }
    #myself .my_name_is {
      text-align: center;
    }
    #myself .name h2 {
      font-size: 2.4rem;
      text-align: center;
    }
    #myself .intro h2 {
      font-size: 1.4rem;
      text-align: center;
    }
    #myself .intro_description p {
      width: 100%;
      text-align: center;
    }
    #myself .lets_chat {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /* about */
    #about {
      padding-top: 32px !important;
    }
  
    /* experience */
    #experience {
      padding: 16px 32px !important;
      padding-top: 32px;
    }
    /* contact */
    #contact {
      padding: 16px 32px !important;
      padding-top: 32px !important;
    }
    .main {
      width: 80% !important;
    }
    .send_message_container input,
    .send_message_container textarea {
      width: 100% !important;
    }
    .skill_percentage {
      display: none !important;
    }
    .myself_page_resume {
      display: block;
    }
  }
  
  @media only screen and (max-width: 699px) {
    /* About */
    .about_flex_div {
      grid-template-columns: auto !important;
    }
  }
  @media screen and (max-width: 400px) {
    .get_in_touch {
      font-size: 26px !important;
    }
  }
  @media screen and (401px <= width <=500px) {
    .get_in_touch {
      font-size: 32px !important;
    }
  }
  @media screen and (501px <= width <= 600px) {
    .get_in_touch {
      font-size: 44px !important;
    }
  }
  @media screen and (max-width: 531px) {
    .experience_flex_div {
      flex-direction: column !important;
      gap: 28px !important;
    }
    .experience_flex_div .left ul {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .experience_flex_div .left ul li {
      border-bottom: 2px solid #464c5f96 !important;
      border-left: 0 !important;
    }
    .experience_flex_div .left ul li.active {
      border-bottom: 3px solid #1db954 !important;
    }
    .project_item_container_outer {
      background: #10244dd9;
      padding: 0;
    }
    .project_tech_used {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
    .featured_text {
      font-size: 13px;
    }
    .project_name {
      font-size: 18px;
      margin: 6px 0;
    }
    .project_description {
      margin: 12px 0;
      font-size: 12px;
    }
    .project_tech_used {
      padding: 6px 0;
    }
    .project_tech_used b {
      font-size: 13px;
    }
    #myself {
      /* padding-top: 60px; */
    }
  }
  @media screen and (max-width: 481px) {
    #contact {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  @media screen and (max-width: 400px) {
    .project_tech_used {
      grid-template-columns: auto auto auto;
    }
    .projects_section_heading > div:first-child {
      font-size: 22px;
    }
    .section_heading {
      margin: 12px 0;
    }
    .section_heading > div:first-child {
      font-size: 26px;
    }
    .intro_description {
      margin-bottom: 24px;
    }
    .intro_description p {
      font-size: 13px;
    }
    .name h2 {
      font-size: 30px;
    }
    .intro {
      margin-bottom: 46px !important;
    }
    .intro h2 {
      font-size: 20px;
    }
  
    /* About */
    .about_para p {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 370px) {
    .projects_section_heading > div:first-child {
      font-size: 18px;
    }
  }
  